<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Los equipos del Xpectrum</title>
    <link rel="stylesheet" href="../css/equipos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="shortcut icon" href="../imagenes/logo.ico">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/quitarBanner.css">
    <link rel="stylesheet" type="text/css" href="../css/loader.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../jquery/fadeLoader.js"></script>
        
  </head>
  <body>
    <div id="logo">
        <a href="../templates/xpectrum.html"><img src="../imagenes/logo2.png" title="Ir a XpectrumUwu" class="desktop" alt="foto del logo"></a>
        <a href="../templates/xpectrum.html"><img src="../imagenes/logo_rubik.gif" title="Ir a XpectrumUwu" class="mobile" alt="foto del logo"></a>
    </div>
    <header>  

      <div class="unirse">
        <p><a href="reclutamiento.html">Únete al Equipo</a></p>
    </div>
        <div class="contenedor">
            <h1>Team Xpectrum</h1>
            <nav id="Contactos">
              <a class="btn" href="https://www.twitch.tv/eloy_g"><i class="fab fa-twitch"></i></a>
              <a class="btn" href="https://www.youtube.com/channel/UC318IkJ6a9KDviMsPf7GFdQ" target="_blank"><i class="fab fa-youtube"></i></a>
             <a class="btn" href="https://www.instagram.com/xpectrumuwu/" target="_blank"><i class="fab fa-instagram"></i></a>
             <a class="btn" href="mailto:xpectrumuwwu@gmail.com?Subject=Contactar%20con%20Xpctrum"><i class="far fa-envelope"></i></a>
            <!--Ejemplo de mailTO-->
            <!-- href="mailto:rafa@gmail.com?Subject=Interesado%20en%20el%20curso"-->            
            </nav>
        </div>      
    </header>
  <div class="team-section">
      
    <div class="inner-width">
        <p>*** Proximamente mas informacion sobre otros equipos de VALORANT,ROCKET LEAGUE etc ***</p>

        <!-- para cuando esten listos los otros equipos
        <nav class="menu-equipos">
                <a href="novedades-Xpectrum.html">EQUIPO VALORANT</a>
                <a href="novedades-Fifa.html">EQUIPO ROCKET LEAGUE</a>
                <a href="novedades-warzone.html">EQUIPO LOL</a>
        </nav>
         -->
      <h1>Nuestro equipo de League of Legends</h1>
      <div class="pers">

        <div class="pe">
          <img src="../imagenes/noPhoto.jpg" alt="Foto del jugador">
          <div class="p-name">XALO GARCIA PAZ</div>
          <div class="p-des">SUP</div>
          <div class="p-info">
            <!-- botón para usar mas adelante para algún enlace
              <p>Estadisticas </p>
            -->
          </div>
          <div class="p-sm">
            <a href="https://www.twitter.com/xalogp/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/xalogp/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitch.tv/xalogp" target="_blank"><i class="fab fa-twitch"></i></a>
          </div>
        </div>

        <div class="pe">
          <img src="../imagenes/noPhoto.jpg" alt="Foto del jugador">
          <div class="p-name">MANUEL PAREDES</div>
          <div class="p-des">JUNGLE</div>
          <div class="p-info">
            <!-- botón para usar mas adelante para algún enlace
              <p>Estadisticas </p>
            -->
        </div>
          <div class="p-sm">
            <a href="https://www.instagram.com/manuelparedes_99/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>

        <div class="pe">
          <img src="../imagenes/noPhoto.jpg" alt="Foto del jugador">
          <div class="p-name">ALEJANDRO PARDO</div>
          <div class="p-des">ADC</div>
          <div class="p-info">
            <!-- botón para usar mas adelante para algún enlace
              <p>Estadisticas </p>
            -->
        </div>
          <div class="p-sm">
            <a href="https://www.twitter.com/alexpardocasal/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/paardo22/" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>

        <div class="pe">
            <img src="../imagenes/noPhoto.jpg" alt="Foto del jugador">
            <div class="p-name">Diego Gallu</div>
            <div class="p-des">TOP</div>
            <div class="p-info">
            <!-- botón para usar mas adelante para algún enlace
              <p>Estadisticas </p>
            -->
            </div>
            <div class="p-sm">
              <a href="https://www.instagram.com/diego_gallu32/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>

        
          <div class="pe">
            <img src="../imagenes/noPhoto.jpg" alt="Foto del jugador">
            <div class="p-name">FELPETO</div>
            <div class="p-des">MID</div>
            <div class="p-info">
            <!-- botón para usar mas adelante para algún enlace
              <p>Estadisticas </p>
            -->
            </div>
            <div class="p-sm">
              <a href="https://www.instagram.com/feelpee/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>

          <div class="pe">
            <img src="../imagenes/noPhoto.jpg" alt="Foto del Coach">
            <div class="p-name">VACANTE</div>
            <div class="p-des">COACH</div>
            <div class="p-sm">

            </div>
          </div>
          
      </div>
          
    </div>

    <div class="volver">
      <h2><a href="xpectrum.html" class="btn">Pagina principal</a></h2>
  </div>
  </div>


  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
  </body>
</html>