<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/reclutamiento.css">
    <link rel="shortcut icon" href="../imagenes/logo.ico">
    <link rel="stylesheet" type="text/css" href="../css/quitarBanner.css">
    <link rel="stylesheet" type="text/css" href="../css/loader.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../jquery/fadeLoader.js"></script>
        <meta charset="utf-8">
        
    <title>Únete a Team Xpectrum</title>
</head>
<body>

    <section class="sobre-nosotros">
        <div class="contenido">
            <div class="desc">
                <img src="../imagenes/fotoMando.jpg" alt="Foto de un mando" title="Unete al Xpectrum">
                
                <p>
                    En Team Xpectrum estamos con los brazos abiertos a los jugadores interesados en unirse a nosotros.
                    Para eso, solo necesita enviarnos un correo (indicando su *Nombre,*Información sobre el juego que te interesa)
                    pinchando el botón de 'Envianos un correo'.
                </p>
            </div>
                          
        </div>
        <footer>

        <div class="volver">
            <h2><a href="mailto:reclutamiento.xpectrum@gmail.com?Subject=Interesado%20en%20el%20Equipo"
                class="btn">Envianos un correo</a></h2>
        </div>
        <div class="volver">
            
            <h2><a href="xpectrum.html" class="btn">Pagina principal</a></h2>
        </div>
    </footer>
        
    </section>


    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
</body>
</html>