<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/sobreNosotros.css">
    <link rel="shortcut icon" href="../imagenes/logo.ico">
    <link rel="stylesheet" type="text/css" href="../css/quitarBanner.css">
    <link rel="stylesheet" type="text/css" href="../css/palmares.css">
    <link rel="stylesheet" type="text/css" href="../css/loader.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../jquery/fadeLoader.js"></script>
        <meta charset="utf-8">
        
    <title>Sobre Nosotros - Team Xpectrum</title>
</head>
<body>
    <section class="sobre-nosotros">
        <div class="contenido">
            <div class="desc">
                <img src="../imagenes/logoX_neon.gif" alt="Logo animado del Xpectrum" title="Unete al Xpectrum">
            
                <p style="color: white;">Team Xpectrum es un equipo de E-Sports fundado en 2019, con sede central en Lugo, Galicia.
                    Nuestro equipo principal se dedica al <a href="https://www.leagueoflegends.com" style="text-decoration: none
                    ; font-weight: bolder; color:tomato; background-color: white;">League of legends</a> pero nos encontramos en proceso de expansión.
                    El equipo de league of legends esta formado por 5  integrantes conocidos por sus ganas
                     de triunfar y llegar al estrellato.En la top lane contamos con Diego el Gallu(Dolaps),en la jungla
                     Paredes(Manz21),a continuación en la mid lane el polivalente Felpeto(Papuh), para rematar en la bot
                     lane contamos con el ADC Pardo(Pardaco) y el Support Xalo(Xalogp).
                </p>
                </div>
                
        </div>
        <footer>
        <div class="volver">
            <h2><a href="reclutamiento.html" class="btn">Unete al equipo</a></h2>
        </div>
        <div class="volver">
            <h2><a href="xpectrum.html" class="btn">Pagina principal</a></h2>
        </div>
    </footer>    
    </section>


    <div class="skills-section">
        <div class="skills-header">
            <h1>Resumen de Torneos</h1>  
        </div>
            <div class="skills-container"> 
                
                <!--START-->
                <div class="skills-box">
                <div class="skills-title">
                    <div class="skills-img">
                    <img src="../imagenes/logos/ludus.PNG"alt="" class="skills-icons">
                     </div>
                    <h3>Ludus Gaming</h3>
                </div>
                <P>3ª posición en  Ludus Gaming 2019</P>
                </div>
                <!--END-->
                

            </div>
     </div>



    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
</body>
</html>