<!DOCTYPE html>
<html lang="es">
<head>
    <title>Xpectrumuwu</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <link rel="shortcut icon" href="../imagenes/logo.ico">
    <link rel="stylesheet" type="text/css" href="../css/quitarBanner.css">
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <link rel="stylesheet" type="text/css" href="../css/loader.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../jquery/fadeLoader.js"></script>
    
    <meta name="keywords" content="esports,league of legends,torneo lol,xpectrumuwu,equipo competitivo,lol,
    xpectrumuwu">
</head>
        
<body> 
    <div id="logo"> 
        <a href="../templates/xpectrum.html"><img src="../imagenes/logos/xpectrum.png" title="Ir a XpectrumUwu" class="desktop" alt="logo del equipo"></a>
        <a href="../templates/xpectrum.html"><img src="../imagenes/logo_rubik.gif" title="Ir a XpectrumUwu" class="mobile" alt="logo del equipo"></a>
    </div>
    <!-- LA CABECERAA-->    
    <header>      
        <div class="unirse">
            <p><a href="reclutamiento.html">Únete al Equipo</a></p>
        </div>
        <div class="contenedor">
            <h1>Team Xpectrum</h1>
            <nav id="Contactos">

                <a class="btn" href="https://www.twitch.tv/eloy_g"><i class="fab fa-twitch"></i></a>
                <a class="btn" href="https://www.youtube.com/channel/UC318IkJ6a9KDviMsPf7GFdQ" target="_blank"><i class="fab fa-youtube"></i></a>
               <a class="btn" href="https://www.instagram.com/xpectrumuwu/" target="_blank"><i class="fab fa-instagram"></i></a>
               <a class="btn" href="mailto:xpectrumuwwu@gmail.com?Subject=Contactar%20con%20Xpctrum"><i class="far fa-envelope"></i></a>

            <!--
            <a class="btn" href="https://discord.gg/x6QhMq32"><img src="../imagenes/discord.jpg">Discord</a>
             <a class="btn" href="https://www.youtube.com/channel/UC318IkJ6a9KDviMsPf7GFdQ" target="_blank"><img src="../imagenes/youtube.png">Youtube</a>
            <a class="btn" href="https://www.instagram.com/xpectrumuwu/" target="_blank"><img src="../imagenes/instagram.png">Instagram</a>
            <a class="btn" href="mailto:xpectrumuwwu@gmail.com?Subject=Contactar%20con%20Xpctrum"><img src="../imagenes/icono-correo.png">Correo</a>-->
            <!--Ejemplo de mailTO-->
            <!-- href="mailto:rafa@gmail.com?Subject=Interesado%20en%20el%20curso"-->            
            </nav>
        </div>      
    </header>
    
    <!-- SCROLLING TEXT HERE-->

    <!--
    <marquee behavior="scroll" direction="left" class="movingText"> 
    &#128081;!!Ganador del ultimo torneo 1v1 : DIEGO GALLU, tras derrotar a Seve en la final 👑
    </marquee>
    -->
    <section id="menuOptions">
        <div class="option">      
            <h3>ZONA XPECTRUM</h3>
            <p>Todo lo más reciente del Xpectrum.</p>
            <a href="../templates/zona-xpectrum.html">Mostrar mas</a>         
        </div>
        <div class="option">
            <h3>Galería </h3>
            <p>Pincha para ver las fotos del Xpectrum.</p>
            <a href="../templates/galery.html">Ver fotos</a>
            
        </div>      

        <div class="option">
            <h3>Novedades</h3>
            <p>Novedades sobre diversos juegos y el equipo.</p>
            <a href="../templates/novedades-Lol.html">Mostrar mas</a>
        </div>
        
        <div class="option">
            <h3>Nuestros Equipos</h3>     
            <!-- <h2>Primer torneo en equipo</h2> --> 
            <p>Todos los equipos del Xpectrum</p>
            <a href="../templates/equipos.html">Ver equipos</a>
           
         </div>
        <div class="option">
            <h3>En Directo 🔴</h3>
            <p>Torneos y mas eventos en directo con nuestro creador de contenido</p>
            <a href="https://www.twitch.tv/eloy_g" target="_blank">Mas info</a>
            
        </div> 
        
    </section>
    <!-- &#128081; Emoticono de corona-->
    <!-- PARA ACTUALIZAR GANADOR DEL ULTIMO TORNEO 1V1-->
    
    <section class="lema">
        <div id="camiseta">
            <p>NUESTRA EQUIPACIÓN</p>
        <img src="../imagenes/camiseta_front.png" class="bigger-shirt" alt="Foto de la equipación por delante">
        <img src="../imagenes/camiseta_back.png" class="bigger-shirt" alt="Foto de la equipación por detras">
        </div>
        <marquee behavior="scroll" direction="left" class="movingText">NEVER GIVE UP !</marquee>
    </section>

    <footer>
        <!--
            <audio src="../music/anthem.mp3" controls>
                <p>If you are reading this, it is because your browser does not support the audio element.</p>
            </audio>
        -->
            <ul>
                <li><a href="sobre-nosotros.html">Sobre nosotros</a></li>
                <li><a href="#Contactos">Contacto</a></li>
                <li><a href="reclutamiento.html">Unete a nuestro Equipo</a></li>
            </ul>
                <p>Copyright &copy;2021 <a href="https://www.xpectrumuwu.com">Team Xpectrum</a></p>
    </footer>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
</body>
</html>