<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona Xpectrum</title>
    <link rel="stylesheet" href="../css/zona-xpectrum.css">
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <link rel="shortcut icon" href="../imagenes/logo.ico">
    <link rel="stylesheet" type="text/css" href="../css/quitarBanner.css">
    <link rel="stylesheet" type="text/css" href="../css/loader.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <script src="../jquery/fadeLoader.js"></script>

</head>
<body>
    <div id="logo"> 
        <a href="../templates/xpectrum.html"><img src="../imagenes/logo2.png" title="Ir a XpectrumUwu" class="desktop"></a>
        <a href="../templates/xpectrum.html"><img src="../imagenes/logo_rubik.gif" title="Ir a XpectrumUwu" class="mobile"></a>
    </div>

    <!-- LA CABECERAA-->    
    <header>      

        <div class="unirse">
            <p><a href="reclutamiento.html">Únete al Equipo</a></p>
        </div>
        <div class="contenedor">
            <h1>Team Xpectrum</h1>
            <nav id="Contactos">
                <a class="btn" href="https://www.twitch.tv/eloy_g"><i class="fab fa-twitch"></i></a>
                <a class="btn" href="https://www.youtube.com/channel/UC318IkJ6a9KDviMsPf7GFdQ" target="_blank"><i class="fab fa-youtube"></i></a>
               <a class="btn" href="https://www.instagram.com/xpectrumuwu/" target="_blank"><i class="fab fa-instagram"></i></a>
               <a class="btn" href="mailto:xpectrumuwwu@gmail.com?Subject=Contactar%20con%20Xpctrum"><i class="far fa-envelope"></i></a>           
            </nav>
        </div>      
    </header>
    
<div class="section-novedades">
<!-- LO MAS RECIENTE AQUI ARRIBA-->


<div class="novedad">
    <div class="content">
        <img src="../imagenes/clash_royale.jpg" alt="foto del clan de clash royale">
        <p class="desc">Nuestro clan de CLASH ROYALE 
            <p style="color: brown; font-weight: bolder;"> Nombre :Team Xpectrum
                 <a href="https://link.clashroyale.com/invite/clan/es?tag=L89GUGCL&token=k7dng7xt&platform=android" class="btnNov">Únete</a>       
    </div>
    <span class="date">Fecha: 31/08/2021</span>
</div>


<div class="novedad">
    <div class="content">
        <img src="../imagenes/twitch.png" alt="foto del logo de Twitch">
        <p class="desc">El Xpectrum anuncia el fichaje de su creador de contenido oficial; <span style="color: blueviolet; font-weight: bolder;">Eloy_G</span> 
            ... <a href="../novedades-xpectrum/fichaje-creador-de-contenido/fichaje-creador-de-contenido.html" class="btnNov">Leer mas</a>       
    </div>
    <span class="date">Fecha: 07/08/2021</span>
</div>

</div>


<div class="volver">
    <h2><a href="xpectrum.html" class="btn">Pagina principal</a></h2>
</div>


<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>


</body>
</html>